@model MongoPlaces.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
    </div>
    <input type="submit" value="Login"/>
}