@model MongoPlaces.Web.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>
    <input type="submit" value="Register"/>
}